.ingredient-container {
    text-align: center;
  }
  
  .ingredient-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1e73be;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .Full-ingradient-card {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px; /* Added padding for better spacing on smaller screens */
  }
  
  .ingredient-description {
    text-align: start;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .ingredient-subtitle {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ingredient-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .ingredient-name {
    font-size: 30px;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 10px;
    text-align: start;
  }
  
  .ingredient-details {
    text-align: start;
    font-size: 17px;
    color: #000000;
    line-height: 1.5;
  }
  
  /* Media Queries for Responsiveness */
  
  /* For Tablets (max-width: 768px) */
  @media (max-width: 768px) {
    .ingredient-title {
      padding: 10px;
    }
  
    .ingredient-description {
        text-align: justify;
    }
  
    .ingredient-subtitle {
        text-align: center;
    }
  
    .ingredient-card {
      padding: 15px;
    }
  
    .ingredient-details {
        text-align: justify;
    }
  }
  
  /* For Mobile Devices (max-width: 480px) */
  @media (max-width: 480px) {
    .ingredient-title {
      padding: 10px;
    }
  
   
  
    
    .ingredient-card {
      padding: 10px;
    }
  
    
 
  }
  