.bonus-section {
  background-color: #0d98b8; /* Match the blue background */
  text-align: center;
  padding-bottom: 50px;
}

.bonus-title {
  width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1e73be;
    padding: 20px;
    display: inline-block;
}

.bonus-title span {
  font-size: 30px;
}

.bonus-container {
  display: flex;
  justify-content: space-evenly; /* Ensures proper spacing between the two cards */
  align-items: flex-start; /* Align items at the top */
  gap: 30px; /* Space between the two cards */
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: nowrap; /* Prevents wrapping of the cards */
}

.bonus-card {
  padding-top: 30px;
  flex: 1; /* Ensures both cards take up equal width */
  max-width: 500px; /* Maximum width for each bonus card */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bonus-image {
  border: 2px solid #ffffff;
  width: 405px; /* Fixed width */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 8px;
  margin-bottom: 15px;
}


.bonus-header {
  font-size: 30px;
  color: #84E7FF;
  font-weight: bold;
  margin: 10px 0;
}

.bonus-name {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 5px;
  font-weight: bold;
}

.bonus-free {
  font-size: 30px;
  color: #fff000; /* Green text for '100% FREE' */
  font-weight: bold;
  margin-bottom: 10px;
}

.bonus-description {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .bonus-container {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center align stacked cards */
  }
}
